/* FORCE DARK THEME */
html, body, #root {
  height: 100%;
  margin: 0;
  background: #020617;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #7c3aed;
}